<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <!-- <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="containerfull">

<div class="container">
  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->

  <div id="begin" class="row">

    <div class="col-md-3"></div>

    <div class="container-fluid col-md-6">
        <h1><span>HET BEGIN</span></h1>

        <section>
          <p>De oorsprong van <span>energie</span> ligt bij de zon. De zon is ontstaan uit een draaiende wolk van gas en stof, overgebleven van ontplofte sterren (supernova's). Door de zwaartekracht klonterden deze deeltjes langzaam samen en vormden uiteindelijk de zon en de planeten. Het belangrijkste gas in de zon is waterstof. In de enorme druk en hitte binnenin de zon ontstaat helium als de <span>waterstofdeeltjes</span> met elkaar botsen. Daarbij komt <span>energie</span> vrij. Dit heet <span>kernfusie</span>. Slechts een heel klein deel van die energie bereikt onze planeet. Toch levert de zon in één uur net zoveel energie aan onze planeet als we met de hele wereldbevolking in een jaar gebruiken.</p>
        </section>
    </div>

    <div class="col-md-3"></div>
  </div>

<div class="accentcolor">
  
  <div id="zww" class="row">

    <div class="col-md-3"></div>

    <div id="#soortenenergie" class="container-fluid col-md-6">
        <h1><span>ZON, WIND EN WATER</span></h1>
        
        <section>
          <p><a href="/zonne-energie"><span>Zonne-energie</span></a> is de meest directe manier om de energie van de zon te oogsten. Dat doen we via zonnepanelen en zonnecollectoren.</p>
          
          <a class="readmore" href="/zonne-energie">lees meer <i class="glyphicon glyphicon-chevron-right"></i></a>
          
          
          <p>Ook <span>windenergie</span> kan niet zonder de zon. De wind ontstaat doordat het op de ene plek warmer is dan op de andere. En dat komt door de zon.</p>

          <a class="readmore" href="/zonne-energie">lees meer <i class="glyphicon glyphicon-chevron-right"></i></a>

          <p>Zelfs <span>waterkracht</span> is afhankelijk van de zon. Waterkrachtcentrales maken gebruik van het stromen of vallen van water van boven naar beneden. Net zoals watermolens vroeger deden. Maar wie brengt het water naar boven? Dat is de zon. 
          Dankzij de warmte van de zon verdampt het water. Het water stijgt op en als de wolken afkoelen regent of sneeuwt het. Dat water stroomt weer naar beneden van de bergen en daar bouwen wij onze waterkrachtcentrales.</p>

          <a class="readmore" href="/zonne-energie">lees meer <i class="glyphicon glyphicon-chevron-right"></i></a>
        </section>
    </div>

    <div class="col-md-3"></div>
    </div>
  </div>


  <div class="row">

    <div class="col-md-3"></div>

    <div class="container-fluid col-md-6">
        <h1><span>Steenkool, aardgas en aardolie</span></h1>

        <section>
          <p><a href="#">Steenkool</a>, <a href="#">aardgas</a> en aardolie zijn fossiele brandstoffen. Ze zijn <span>gemaakt van dieren- en plantenresten</span> die miljoen jaren geleden onder allemaal gesteentelagen terechtkwamen. Die planten zijn gegroeid door <span>fotosynthese</span>. Daarbij gebruiken ze zonlicht om koolstofdioxide om te zetten in suikers. En van die suikers groeien de planten en zijn ze dus gemaakt. <br> <span>Planten bestaan dus voor een deel uit opgeslagen zonne-energie.</span> Het is niet voor niets dat hout zo goed brandt: het zit vol met energie. Ook de dierenresten bevatten deze energie, want de dieren hebben de planten gegeten om te groeien en te leven.</p>
        </section>
    </div>

    <div class="col-md-3"></div>
  </div>

  <div class="accentcolor">
  
  <div class="row">

    <div class="col-md-3"></div>

    <div id="#soortenenergie" class="container-fluid col-md-6">
        <h1><span>Energie uit de aarde</span></h1>
        
        <section>
          <p>Er is ook energie die niet van de zon komt<span>. Hoe dieper je in de aarde komt, hoe warmer het is</span>. Die warmte kun je gebruiken als energie. Dat gebeurt in landen als Japan en Ijsland, waar de aardwarmte niet ver onder de grond al hoog is. Maar ook in Nederland maken steeds meer woningen en bedrijven gebruik van aardwarmte. <span>Kernenergie is ook energie uit de aarde</span>. Daarvoor is immers <span>uranium</span> nodig, <span>een stof die in rotsen wordt gevonden</span> in Australië, Namibië, Rusland en andere landen.</p>

        </section>
    </div>

    <div class="col-md-3"></div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-3"></div>

    <div class="container-fluid col-md-6">
        <h1><span>Energie van de maan</span></h1>

        <section>
          <p>Twee keer per dag <span>stijgt en daalt het water</span> van de zeeën. Dit ken je als <span>eb en vloed</span>. Het water stijgt en daalt door de zwaartekracht van de maan. Midden op zee is het verschil tussen eb en vloed niet heel groot. Maar soms overbrugt het water meer dan een meter, bijvoorbeeld in de Waddenzee. Op zulke plaatsen zijn soms <span>turbines</span> gebouwd die de <span>kracht van de getijden omzetten</span> in <span>elektriciteit</span>. Dit noemen we <span>getijdenenergie</span>.</p>
        </section>
    </div>

    <div class="col-md-3"></div>
  </div>

</div>

</div>



<footer class="footer col-md-12">

  <div class="container" ng-controller="NavbarCtrl">

  <!-- <ul>
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
              <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
  </ul> -->

    <!-- <img src="../assets/images/energeeLogo.svg" alt="Logo image"> -->
    
    <div class="col-md-3"></div>

    <ul class="col-md-2">
      <li><h3>Oorsprong</h3></li>
      <li><a href="#" >het begin</a></li>
      <li><a href="#">zon, wind en water</a></li>
      <li><a href="#">steenkool, aardgas en aardolie</a></li>
      <li><a href="#">energie uit de aarde</a></li>
      <li><a href="#">energie van de maan</a></li>
    </ul>
    <ul class="col-md-2">
      <li><h3>Besparen</h3></li>
      <li><a href="/energiebesparen/#waarombesparen">waarom energie besparen</a></li>
      <li><a href="/energiebesparen/#zobesparen">zo kan jij besparen</a></li>
    </ul>
    <ul class="col-md-2">
      <li><h3>Het platform</h3></li>
      <li><a href="#">Terms and Conditions</a></li>
      <li><a href="#">Privacy Policy</a></li>
    </ul>

    <div class="col-md-3"></div>
      
  </div>

</footer>
