@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

//font
$font: 'Open Sans', sans-serif;

body, html{
    width:100%;
    padding: 0;
    margin: 0;
    font-family: $font;
}

//colors
$accent-color: #f36861;
$accent-color2: #343e4e;

.navbar-default{
    background: #FFF;
    font-weight: 400;
    letter-spacing: -0.2;
    padding-left: 45px;
}

/* CHART OPTIONS */
.ct-chart .ct-bar {
  stroke:$accent-color2;
  stroke-width: 30px;
}
.ct-chart .ct-series.ct-series-a .ct-bar{
  stroke:$accent-color2;
}
.ct-chart .ct-label.ct-horizontal {
  text-align: center;
}
.ct-chart .ct-label, .ct-chart .ct-label.ct-horizontal{
  color:$accent-color2;
  font-size:11px;
}
.ct-chart .ct-label, .ct-chart .ct-label.ct-vertical{
  color:$accent-color2;
  font-size:11px;
}

.ct-chart .ct-label.ct-horizontal {
  text-align: center;
}
.ct-chart .ct-bar {
  stroke-width: 5px;
}
@media screen and (min-width: 300px) {
  .ct-chart .ct-bar  {
    stroke-width: 10px;
  } 
}
@media screen and (min-width: 600px) {
  .ct-chart .ct-bar {
    stroke-width: 20px;
  }
}
/*****************/

/* BOOTSTRAP OVERRIDES */
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
.thing-form {
    color: $accent-color;
    text-transform: uppercase;

}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
    color: $accent-color;
    //text-decoration: underline;
    //text-transform: uppercase;
    background: #FFF;
    border-bottom: 1.5px solid $accent-color;
    border-bottom-style: solid;
    padding-bottom: 2px;
    // padding-left: 5px;
    // padding-right: 5px;

    //background: green;
}

.navbar-default .navbar-nav > li > a{
    color: $accent-color;
    text-transform: uppercase;
    
}

.navbar-nav{
    margin-left: 10%;


}

.navbar{
    img{
        width: 30px;
        float: left;
        margin-top: 10px;
        margin-right: 10px;
    }
}

.navbar-brand{
    color: $accent-color;
}

.container > .navbar-header, .container > .navbar-collapse, .container-fluid > .navbar-header, .container-fluid > .navbar-collapse{
        margin: 0;
}

@media screen and (min-width: 768px)
{
  .navbar-nav.navbar-right:last-child{
    margin-right: 0px;
    padding-right: 30px;
  }
}

/*****************/

#banner {
    border-bottom: none;
    margin-top: -20px;
    background-image: url("../assets/images/headerImage.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#bannerBesparen {
    border-bottom: none;
    margin-top: -20px;
    background-image: url("../assets/images/headerImageBesparen.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#bannerZonneEnergie{
    border-bottom: none;
    margin-top: -20px;
    background-image: url("../assets/images/headerImageZonneEnergie.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.containerfull {
  margin: 0 auto;
  width: 100%;
}

.container-fluid{  
    
    padding-top: 90px;

    h1{
        font-size: 20px;
        color: $accent-color;
        text-align: center;
        padding-bottom: 90px;
        text-transform: uppercase;
        
        span{
            border: 3px solid $accent-color;
            padding: 10px 20px 10px 20px;

        }
    }

    section{
        line-height: 30px;
        color: #000;    
        font-family: $font;
        font-weight: 300;
        padding-bottom: 90px;
        font-size: 16px;
        //text-align: center;

        h2{
            font-size: 16px;
            font-weight: 700;
            text-transform: uppercase;
        }

        a{
            //color: $accent-color;
            color: #000;
            font-weight: bold;
            font-size: 14px;
            text-decoration: underline;


            i{
                font-size: 10px;
                margin-bottom: 50px;
            }

        }

        span{
            font-weight: bold;
        }
    }
}


.accentcolor{

    background: $accent-color;
    width: 100%;

    .container-fluid{  

        
        padding-top: 90px;

        h1{
            font-size: 20px;
            color: #FFF;
            text-align: center;
            padding-bottom: 90px;
            
            span{
                border: 3px solid #FFF;
                padding: 10px 20px 10px 20px;

            }
        }

        section{
            line-height: 30px;
            color: #FFF;    
            font-family: $font;
            font-weight: 300;
            padding-bottom: 90px;
            font-size: 16px;
            
            p{
                margin-bottom: 5px;
                
            }
            a{
                color:#FFF;
                font-weight: bold;
                font-size: 14px;


                i{
                    font-size: 10px;
                    margin-bottom: 50px;
                }

            }

            span{
                font-weight: bold;
            }

            .readmore{
                margin-left: 15px;
                text-decoration: none;
            }
        }
    }

}

.row{
    margin: 0;
    padding: 0;
}


.footer{
    background: $accent-color2;
    margin-top: 0;
    //height: 70px;
    //text-align: center;

    img{
        width: 30px;
        float: left;
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
    }
    
    ul{

        margin-top: 20px;
         margin-bottom: 50px;
    }

    li{
        list-style-type: none;
    }

    li > a{
        padding-top: 5px;
        color: #FFF;
        text-decoration: none;
        font-size: 12px;
        //text-transform: uppercase;
    }

    h3{
        color: #FFF;
        font-size: 14px;
        //text-transform: uppercase;
        margin-top: 45px;
        margin-bottom: 20px;
        font-weight: bold;

        span{
            border: 2px solid #FFF;
            padding: 5px 10px 5px 10px;

        }
    }

}

.centertips{
    text-align: center;
}

.tipsbesparen{
   
   margin-right: auto;
   margin-left: auto;
   display: inline-block;
   width: 100%;

}


//accountsignup
form{
    h2{
        font-size: 18px;
        text-transform: uppercase;
        text-decoration: underline;
        margin-bottom: 45px;
    }
    input{
        margin-bottom: 30px;
        border-radius: 0;
        color: $accent-color2;
        &:focus{
            border-color: rgba(243, 104, 97, 0.9);
            border-width: 2px;
            //box-shadow: none;
            border-style: solid;
            outline: none;
        }
    }

    

}



.inline-input{
    label{
        float: left;
    }

    input{
        float: left;
        margin-right: 15px;
    }
}


.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}
