<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container">
    <!-- <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="containerfull">

<div class="container">
  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->

  <div class="row">

    <div class="col-md-3"></div>

    <div class="container-fluid col-md-6">
        <h1><span>HET BEGIN</span></h1>

        <section>
          De oorsprong van <span>energie</span> ligt bij de zon. De zon is ontstaan uit een draaiende wolk van gas en stof, overgebleven van ontplofte sterren (supernova's). Door de zwaartekracht klonterden deze deeltjes langzaam samen en vormden uiteindelijk de zon en de planeten. Het belangrijkste gas in de zon is waterstof. In de enorme druk en hitte binnenin de zon ontstaat helium als de <span>waterstofdeeltjes</span> met elkaar botsen. Daarbij komt <span>energie</span> vrij. Dit heet <span>kernfusie</span>. Slechts een heel klein deel van die energie bereikt onze planeet. Toch levert de zon in één uur net zoveel energie aan onze planeet als we met de hele wereldbevolking in een jaar gebruiken.
        </section>
    </div>

    <div class="col-md-3"></div>
  </div>

<div class="accentcolor">
  
  <div class="row">

    <div class="col-md-3"></div>

    <div class="container-fluid col-md-6">
        <h1><span>ZON, WIND EN WATER</span></h1>

        <section>
          <p><span>Zonne-energie</span> is de meest directe manier om de energie van de zon te oogsten. Dat doen we via zonnepanelen en zonnecollectoren.</p>
          <p>Ook <span>windenergie kan</span> niet zonder de zon. De wind ontstaat doordat het op de ene plek warmer is dan op de andere. En dat komt door de zon.</p>
          <p>Zelfs <span>waterkracht is</span> afhankelijk van de zon. Waterkrachtcentrales maken gebruik van het stromen of vallen van water van boven naar beneden. Net zoals watermolens vroeger deden. Maar wie brengt het water naar boven? Dat is de zon. 
          Dankzij de warmte van de zon verdampt het water. Het water stijgt op en als de wolken afkoelen regent of sneeuwt het. Dat water stroomt weer naar beneden van de bergen en daar bouwen wij onze waterkrachtcentrales.</p>
        </section>
    </div>

    <div class="col-md-3"></div>
    </div>
  </div>

</div>

</div>



<footer class="footer">
  <div class="container" ng-controller="NavbarCtrl">

  <ul>
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
              <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
  </ul>
      
  </div>
</footer>
