<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="bannerBesparen">
  <div class="container">
    <img src="../assets/images/bespaarIcon.svg" class="moreHorizonal" alt="bespaarIcon">
  </div>
</header>

<div class="containerfull">

<div class="container">

  <div id="waarombesparen" class="row">

    <div class="col-md-3"></div>

    <div class="container-fluid col-md-6">
        <h1><span>WAAROM ENERGIE BESPAREN</span></h1>

        <section>
        <h2>Finacieel voordelig</h2>
          <p>Energie en duurzaamheid zijn steeds belangrijkere begrippen in onze samenleving. <span>Fossiele brandstoffen</span>, zoals gas, olie en steenkool <span>raken op</span>. Door de toenemende welvaart is er bovendien steeds meer vraag naar energie.Gevolg is dat de <span>tarieven</span> voor gas en elektra jaarlijks <span>stijgen</span>. En dat merkt u in uw portemonnee. U betaalt een steeds <span>hogere energierekening</span>.</p>
          <br>
        <h2>Tegen klimaatsvervuiling</h2>
          <p>Daarnaast leidt gas- en elektraverbruik tot <span>uitstoot van CO²</span>. Dit zogenaamde <span>broeikaseffect</span> heeft een negatieve invloed op het klimaat. De gemiddelde temperatuur op aarde stijgt met alle vervelende gevolgen van dien. Denk aan de <span>toenemende droogte</span> en de <span>stijging van de zeespiegel</span>. De samenleving vraagt om verandering. Energiebesparing en verduurzaming van de energievoorziening is dan ook bittere noodzaak.</p>
        </section>
    </div>

    <div class="col-md-3"></div>
  </div>

<div id="zobesparen" class="accentcolor">
  
  <div class="row">

    <div class="col-md-3"></div>

    <div class="container-fluid col-md-6">
        <h1><span>ZO KAN JIJ BESPAREN</span></h1>

        <section class="tips">
        <div class="centertips">
          	<nav class="tipsbesparen">

			  <button ng-click="toggleTipsCategorie1On()" type="button" id="tipc1" class="btn btn-multiple tipc1">Verwarming</button>

			  <button ng-click="toggleTipsCategorie2On()" type="button" id="tipc2" class="btn btn-multiple">Warm water</button>

			  <button ng-click="toggleTipsCategorie3On()" type="button" id="tipc3" class="btn btn-multiple">Verlichting</button>
			  <!-- <button type="button" class="btn btn-multiple">Koelen en vriezen</button>
			  <button type="button" class="btn btn-multiple">Wassen en drogen</button>
			  <button type="button" class="btn btn-multiple">Koken</button>
			  <button type="button" class="btn btn-multiple">Overige</button> -->
			</nav>
		</div>

			<div ng-hide="btn1click" class="tips">

      **OPMERKING** EVENTUEEL HIER TIPS LATEN GENEREREN
        <h2>01. Verwarm tot maximum 19 à 20° C</h2> 
        <p>19 tot 20° C is een gezonde en comfortabele
        omgevingstemperatuur. De temperatuur in uw
        woning of werkplaats met één graad verlagen, doet
        uw energiefactuur met 6 tot 7 % dalen. Als u van 22
        naar 19° C gaat, is dat zelfs 20 %! </p>

        <h2>02. Verlaag de temperatuur ’s nachts en als u niet thuis bent </h2> 
        <p>’s Nachts, wanneer u onder de dekens ligt,
        of wanneer u overdag afwezig bent, is een
        omgevingstemperatuur van 16° C ruim voldoende.
        Als u voor een lange periode van huis bent (bv.
        een lang weekend of een week vakantie) stelt u de
        verwarming best in op maximaal 12° C.</p>

        <h2>03. Stel uw thermostatische kranen goed af</h2> 
        <p>Uw thermostatische kranen laten toe de temperatuur
        in elke kamer afzonderlijk te regelen. Stel ze dus
        correct in! Zo vermijdt u dat u onnodig ruimtes
        verwarmt  die gratis door de zon worden verwarmd,
        of kamers waar u niet vaak komt.</p> 

        <h2>04. Ontlucht uw radiatoren</h2> 
        <p>Als het onderste deel van uw radiotor warm is terwijl
        het bovenste deel koud blijft, moet de radiator
        worden ontlucht. Doe dit meerdere keren per jaar,
        zonder de verwarmingsketel uit te schakelen. Als uw
        woning uit meerdere verdiepingen bestaat, begin
        dan bij de radiatoren op de benedenverdieping en
        ga zo verder naar de hogere verdiepingen.</p> 

      </div>

			<p ng-hide="btn2click" class="tips">02</p>

			<p ng-hide="btn3click" class="tips">03</p>

      </section>
    </div>

    <div class="col-md-3"></div>
    </div>
  </div>

</div>

</div>



<footer class="footer">
  <div class="container" ng-controller="NavbarCtrl">

  <!-- <ul>
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
              <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
  </ul> -->
      
  </div>
</footer>
