<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="bannerBesparen">
  <div class="container">
    <!-- <h1>'Allo, 'Allo!</h1>
    <p class="lead">Kick-start your next web app with Angular Fullstack</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman"> -->
  </div>
</header>

<div class="containerfull">

<div class="container">
  <!-- <div class="row">
    <div class="col-lg-12">
      <h1 class="page-header">Features:</h1>
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="thing in awesomeThings">
        <li><a href="#" tooltip="{{thing.info}}">{{thing.name}}<button type="button" class="close" ng-click="deleteThing(thing)">&times;</button></a></li>
      </ul>
    </div>
  </div>

  <form class="thing-form">
    <label>Syncs in realtime across clients</label>
    <p class="input-group">
      <input type="text" class="form-control" placeholder="Add a new thing here." ng-model="newThing">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addThing()">Add New</button>
      </span>
    </p>
  </form> -->

  <div class="row">

    <div class="col-md-3"></div>

    <div class="container-fluid col-md-6">
        <h1><span>Zonne-energie</span></h1>

        <section>
        
          <p>De <span>energie</span> van de zon bereikt ons in de vorm van <span>licht en warmte</span>. In een uur stuurt de zon zoveel energie naar de aarde als alle mensen samen in een jaar gebruiken. Maar hoe kunnen we die energie omzetten in elektriciteit?</p>
          
        </section>
    </div>

    <div class="col-md-3"></div>
  </div>

<div class="accentcolor">
  
  <div class="row">

    <div class="col-md-3"></div>

    <div class="container-fluid col-md-6">
        <h1><span>DIT IS ZONNE-ENERGIE</span></h1>

        <section>
        <p>De energie van de zon kun je zien en voelen. De kracht van de zon is zo groot dat je in de zomer overdag geen verwarming en verlichting nodig hebt. Zelfs als het bewolkt is, is het vaak warm en licht genoeg. Waar komt die energie vandaan? De zon bestaat voor een groot deel uit het gas waterstof. Binnenin de zon is het 15 miljoen graden. In die hitte ontstaat helium als de waterstofdeeltjes met elkaar botsen. Dit proces noem je kernfusie. Daarbij komt energie vrij. Die energie straalt de zon voortdurend uit in de vorm van licht en warmte. In de zomer staat de zon veel hoger dan in de winter. Daardoor legt het zonlicht een veel kortere weg af door de dampkring. Er gaat veel minder energie verloren en er bereikt dus veel meer energie het aardoppervlak. Bovendien zijn de dagen veel langer in de zomer. Geen wonder dus dat we in de winter veel meer energie nodig hebben.</p>
         
        </section>
    </div>

    <div class="col-md-3"></div>
    </div>
  </div>

</div>

</div>



<footer class="footer">
  <div class="container" ng-controller="NavbarCtrl">

  <!-- <ul>
    <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
              <a ng-href="{{item.link}}">{{item.title}}</a>
    </li>
  </ul> -->
      
  </div>
</footer>
