<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container-fluid col-md-12 loggedinForms">
<h1><span>Uw gemiddelde energieverbruik deze week (in kWh)</span></h1>
	



<div class="col-md-3"></div>
<div class="ct-chart"></div>
<div class="col-md-3"></div>



<div class="col-md-12">
    <span ng-if="customError === 'no-userdata'">
        <p>U moet eerst uw gegevens aanvullen. <br>
        <a class="redirectLink" href="/accountsetup"><span>klik hier</span></a></p>
        
    </span>
    <span ng-if="customError === 'no-elecData'">
        <p>U moet eerst elektriciteitswaarden doorgeven. <br>
        <a class="redirectLink" href="/elektriciteitsmeter"><span>klik hier</span></a></p>
        
    </span>
</div>
<div class="ct-chart"></div>
<!-- CHART CSS OPTIONS IN MAIN.SCSS (kan je dus veranderen) en ook een deel in de loadGraph-function in de controller -->
<div class="formcontainer">
<p class="underchart">
<code>Opmerking</code><br>
Hou er rekening mee dat wanneer u een dag niet opgeeft, deze blanco zal zijn, <br> en de verbruikte energie opgeteld wordt bij de volgende opgegeven waarde. <br>
    Hou hier rekening mee als er uitschieters in de grafiek zitten.<br><br/>
	<code>Een voorbeeld:<br></code> U meet maandag een verschil van 20 kWh t.o.v. zondag.<br />
            De dinsdag vergeet u de waarden door te geven.<br />
            De woensdag meet u wel weer. Uw verbruik is een verschil van 30kWh, maar dit is van 2 dagen samen (dinsdag en woensdag). <br><br></p>

</div>
</div>