<div ng-include="'components/navbar/navbar.html'"></div>

<marquee scrollamount="18"><p><b style="color:lightgreen">TEKST EN LAYOUT NOG AAN TE PASSEN. (Just letting you know
    ;-))</b></p></marquee>
<h1>Uw gemiddelde energieverbruik deze week (in kWh)</h1>
<p>Hou er rekening mee dat wanneer u een dag vergeet op te geven, deze blanco zal zijn, en de verbruikte energie
    opgeteld wordt bij de volgende opgegeven waarde.</p>
<span style="font-style: italic; color:green;"> <p>Een voorbeeld: u meet maandag een verschil van 20 kWh t.o.v. zondag.<br/>
    De dinsdag vergeet u de waarden door te geven.<br/>
    De woensdag meet u wel weer. Uw verbruik is een verschil van 30kWh, maar dit is van 2 dagen samen (dinsdag en
    woensdag).</p>
    </span>
<p>Hou hier rekening mee als er uitschieters in de grafiek zitten.</p>
<p>Hou er ook rekening mee dat de eerste waarde die opgegeven wordt gebruikt wordt als startwaarde, en niet in de grafiek zal verschijnen.</p>

<div style="border:1px solid red">
    <span ng-if="customError === 'no-userdata'">
        <p>U moet eerst uw gegevens aanvullen.</p>
        <a href="/accountsetup">klik hier</a>
    </span>
    <span ng-if="customError === 'no-elecData'">
        <p>U moet eerst elektriciteitswaarden doorgeven.</p>
        <a href="/elektriciteitsmeter">klik hier</a>
    </span>
</div>
<div class="ct-chart"></div>
<!-- CHART CSS OPTIONS IN MAIN.SCSS (kan je dus veranderen) en ook een deel in de loadGraph-function in de controller -->
